<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">

<header>
    
</header>

<main>
    <h1>serach by titile or Author</h1>
    <form action="/searches" method="post">
        <input type="text" name="search"placeholder= "tittle or author"required>
        <fieldset>
                <label for="title">
                    <span>title</span>
                    <input type="radio" name ="search" value= "title"required>
                     </label>
            </fieldset>
            <fieldset>
                    <label for="author">
                        <span>author</span>
                        <input type="radio" name ="serach" value= "author"required>
                         </label>
                        </fieldset>
           <button  type ="submit"> Search Google Book Api</button>
          </form>
    <div>
        <h1>Enjoy your reading </h1>
        
    </div>
</main>

<footer>
    
</footer>

</body>
</html>