<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Results</title>
</head>
<body>

<main>
    <h1>serach by titile or Author</h1>
    <ul class  = "search-results">
<li>
    <section>
        <h1> <%= item.title %></h1>
        <p>Author: <%= item.author %> </p>
        <img src ="<%= 11-results.png %>">
        <p><%= item.description%></p>

         </section>
</li>
    </ul>        
  
</main>

<footer>
    
</footer>

</body>
</html>